html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Times New Roman";
  src: url("../fonts/times_new_roman.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/times_new_roman.eot?#iefix") format("embedded-opentype"), url("../fonts/times_new_roman.woff2") format("woff2"), url("../fonts/times_new_roman.woff") format("woff"), url("../fonts/times_new_roman.ttf") format("truetype"), url("../fonts/times_new_roman.svg#times_new_roman") format("svg");
  /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: "Times New Roman PS - Italic MT";
  src: url();
}
.container {
  width: 850px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}
.header__logo {
  width: 87px;
  height: 41px;
}

.menu {
  width: 400px;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.menu__link {
  color: #000000;
  font-family: Tahoma;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-decoration: none;
}

.banner {
  width: 810px;
  max-height: 269px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.banner__photo {
  height: 230px;
  width: 380px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
.banner__content-title {
  width: 320px;
  height: 76px;
  color: #000000;
  font-family: Tahoma;
  font-size: 21px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 20px;
}
.banner__content-text {
  width: 373px;
  height: 93px;
  color: #8d8d8d;
  font-size: 14px;
  font-weight: 400;
  font-family: "Times New Roman";
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 20px;
}
.banner__content-button {
  width: 115px;
  height: 29px;
  color: #fefefe;
  font-family: Tahoma;
  background-color: #da4137;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  border: none;
  border-radius: 2px;
}

.item {
  margin-top: 25px;
}
.item__header {
  width: 363px;
  height: 18px;
  color: #000000;
  font-family: Tahoma;
  font-size: 18px;
  font-weight: 700;
  line-height: 19px;
  margin-bottom: 10px;
}
.item__text {
  width: 834px;
  min-height: 53px;
  color: #8d8d8d;
  font-family: "Times New Roman PSMT";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.item:last-of-type {
  margin-bottom: 50px;
}

.benefits {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}
.benefits__column {
  display: flex;
  max-width: 190px;
  justify-content: space-between;
}
.benefits__column-img {
  width: 44px;
  height: 38px;
  margin-right: 7px;
}
.benefits__column-text {
  color: #000000;
  font-weight: 400;
  font-family: "Times New Roman PS - Italic MT";
  font-size: 14px;
  line-height: 18px;
  padding-top: 2px;
  font-style: italic;
}

.size1 {
  width: 89px;
  height: 31px;
}

.size2 {
  width: 120px;
  height: 31px;
}

.size3 {
  width: 52px;
  height: 31px;
}

.size4 {
  width: 90px;
  height: 28px;
}

/*# sourceMappingURL=style.css.map */
